.pedido-card {
    width: 250px;
    height: 280px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.pedido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.icon-expandir {
    cursor: pointer;
}

.pedido-items-scroll {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 5px;
}

.plato-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.plato-info {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.plato-nombre {
    font-weight: bold;
}

.plato-detalle {
    font-size: 0.85em;
    color: #777;
}

.plato-tiempo {
    font-size: 0.9em;
    margin-right: 6px;
}

.pedido-footer {
    display: flex;
    justify-content: space-between;
}

/*.estado-boton {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*    padding: 4px 8px;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*}*/

/*.estado-boton:hover {*/
/*    background-color: #0056b3;*/
/*}*/

.estado-boton {
    padding: 6px 12px;
    background-color: #eaeaea;
    color: black;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.estado-boton:hover {
    background-color: #a9a9a9;
}
